/* CSS Document */
/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    min-height: 0;
}
table,
tr,
th,
td {
    vertical-align: top;
}
ul,
ul li,
menu,
menu li {
    margin: 0;
    padding: 0;
    list-style: none
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: left;
}
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%
}
/* IE stretched buttons fix */

input.submit {
    width: 0;
    overflow: visible;
}
input.submit[class] {
    width: auto;
}
/* css reset end */
/* font */

@font-face {
    font-family: 'VolvoBroadRegular';
    src: url('../font/volvb-webfont.eot');
    src: url('../font/volvb-webfont.eot?#iefix') format('embedded-opentype'), url('../font/volvb-webfont.woff') format('woff'), url('../font/volvb-webfont.ttf') format('truetype'), url('../font/volvb-webfont.svg#VolvoBroadRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* elements */

header,
footer,
nav,
aside,
article {
    display: block;
}
body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
    background: #1f2121 url(../_img/bg/01.png) repeat-x top;
}
a {
    color: #8f0e08;
}
a:hover {
    text-decoration: none;
}
.r {
    text-align: right !important;
}
.c {
    text-align: center !important;
}
.l {
    text-align: left !important;
}
.j {
    text-align: justify !important;
}
.cleaner {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    float: none;
}
.nodisplay {
    display: none;
}
/* layout */

#page {
    width: 1260px;
    margin: 0 auto;
    text-align: left;
}
#container {
    clear: both;
    background: #fff;
}
#intro {
    position: relative;
    padding: 13px 0 0 0;
}
#homepage {
    position: relative;
    background: #fff;
}
#homepage:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background: #d2e0e0;
}
#col-main {
    position: relative;
    float: right;
    width: 880px;
    padding: 0 30px 39px 0;
}
#homepage #col-main {
    width: 630px;
    padding: 0 0 39px 0;
}
#col-center {
    float: left;
    width: 400px;
    padding: 0 10px 0 0;
}
#homepage #col-center {
    float: none;
    width: auto;
    padding: 0 20px;
}
#col-right {
    float: right;
    width: 240px;
    padding: 0 10px 0 0;
}
#homepage #col-right {
    width: 240px;
    padding: 16px 0 0 0;
}
#col-left {
    float: left;
    width: 270px;
    padding: 5px 0 39px 10px;
}
#homepage #col-left {
    width: 560px;
    padding: 0;
}
/* header */

header#main-header {
    position: relative;
    height: 186px;
    z-index: 99;
}
header#main-header .logo {
    float: left;
    width: 390px;
}
header#main-header .logo a {
    display: block;
    padding: 44px 0 0 184px;
    text-decoration: none;
    color: #c3c5c7;
    font-size: 16px;
    line-height: 1.4;
    min-height: 120px;
    background: url(../_img/logo/logo.png) no-repeat 0 21px;
}
header#main-header .logo a mark {
    display: block;
    background: none;
    color: #fff;
    font-size: 34px;
    line-height: 1;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_mainmenu {
    position: absolute;
    z-index: 99999;
    top: 44px;
    right: 0;
}
.mod_mainmenu .toggle {
    position: relative;
    display: none;
    border: 0;
    background: #000;
    font-family: 'VolvoBroadRegular', sans-serif;
    color: #fff;
    font-size: 38px;
    padding: 5px 20px 5px 65px;
    font-weight: normal;
    background: #c41230;
    background: -moz-linear-gradient(top,  #c41230 0%, #8f0e08 100%);
    background: -webkit-linear-gradient(top,  #c41230 0%,#8f0e08 100%);
    background: linear-gradient(to bottom,  #c41230 0%,#8f0e08 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    box-shadow: 0 0 6px #000;
    cursor: pointer;
}
.mod_mainmenu .toggle:before, .mod_mainmenu .toggle:after {    position: absolute;
    top: 50%;
    left: 20px;
    content: '';
    width: 30px;
    height: 20px;
    margin: -14px 0 0;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.mod_mainmenu .toggle:after {
    height: 0;
    margin: -2px 0 0;
    border-bottom: 0;
}
.mod_mainmenu-on .mod_mainmenu .toggle:before {
    height: 0;
    margin: -2px 0 0;
    border-bottom: 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mod_mainmenu-on .mod_mainmenu .toggle:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mod_mainmenu li {
    float: left;
}
.mod_mainmenu a {
    display: block;
    float: left;
    position: relative;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 0 25px;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_mainmenu a:hover,
.mod_mainmenu li.act a {
    border-bottom: 1px solid #fff;
}
header#main-header .nav {
    position: absolute;
    top: 0;
    right: -7px;
}
header#main-header .nav li {
    float: left;
}
header#main-header .nav li a {
    position: relative;
    display: block;
    float: left;
    height: 37px;
    min-width: 44px;
    margin: 0 0 0 -8px;
    overflow: hidden;
}
header#main-header .nav li.act a img,
header#main .nav li a:hover img {
    position: absolute;
    top: -37px;
    left: 0;
}
.mod_search input.text {
    position: absolute;
    top: 105px;
    right: 36px;
    border: 0;
    margin: 0;
    padding: 9px 14px;
    width: 166px;
    height: 14px;
    color: #fff;
    background: #2f3031 url(../_img/btn/04.png) no-repeat;
}
.mod_search input.text:hover,
.mod_search input.text:focus {
    background-position: bottom;
}
.mod_search input.button {
    position: absolute;
    top: 105px;
    right: 0;
    border: 0;
    margin: 0;
    padding: 0;
    width: 37px;
    height: 32px;
    background: #2f3031 url(../_img/btn/05.png) no-repeat;
    cursor: pointer;
}
.mod_search input.button:hover,
.mod_search input.button:active {
    background-position: bottom;
}
header#main-header .online-katalog-button {
    position: absolute;
    top: 157px;
    right: -7px;
}
header#main-header .online-katalog-button a {
    display: block;
    width: 243px;
    height: 80px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
    background: url(../_img/btn/06.png) no-repeat;
}
header#main-header .online-katalog-button a:hover {
    background-position: bottom;
}
header#main-header .online-katalog-button a span {
    display: block;
    padding: 21px 40px 0 82px;
    cursor: pointer;
}
#intro .in {
    min-height: 300px;
}
.mod_custom-submenu {
    width: 245px;
    margin: 0 -6px 0 -5px;
    background: url(../_img/bg/13.png) no-repeat;
    background-size: 100% auto;
}
#col-left .mod_custom-submenu {
    width: auto;
}
#intro .mod_custom-submenu {
    margin: 0;
    float: left;
    background-image: url(../_img/bg/04.png);
}
.mod_custom-submenu .title {
    font-size: 32px;
    line-height: 1;
    color: #292c2c;
    padding: 26px 5px 10px 24px;
    font-family: 'VolvoBroadRegular', sans-serif;
}
#intro .mod_custom-submenu .title {
    color: #fff;
}
.mod_custom-submenu menu {
    padding: 0 20px 28px 30px;
}
.mod_custom-submenu menu menu {
    padding: 0;
}
.mod_custom-submenu li {
    padding: 0 0 2px 16px;
    background: url(../_img/arr/01.png) no-repeat 0 2px;
}
.mod_custom-submenu li li {
    padding: 2px 0 0 13px;
    background: url(../_img/arr/02.png) no-repeat 0 5px;
}
.mod_custom-submenu li a {
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    line-height: 14px;
    color: #555;
}
#intro .mod_custom-submenu li a {
    color: #fff;
}
.mod_custom-submenu li.act a,
.mod_custom-submenu li.act li.act a,
.mod_custom-submenu li.act li.act li.act a,
.mod_custom-submenu li.act li.act li.act li.act a {
    text-decoration: underline;
    color: #8f0e08;
}
#intro .mod_custom-submenu li.act a,
#intro .mod_custom-submenu li.act li.act a,
#intro .mod_custom-submenu li.act li.act li.act a,
#intro .mod_custom-submenu li.act li.act li.act li.act a {
    color: #fff;
}
.mod_custom-submenu li.act li a,
.mod_custom-submenu li.act li.act li a,
.mod_custom-submenu li.act li.act li.act li a {
    color: #555;
    text-decoration: none;
}
#intro .mod_custom-submenu li.act li a,
#intro .mod_custom-submenu li.act li.act li a,
#intro .mod_custom-submenu li.act li.act li.act li a {
    color: #dedede;
}
.mod_custom-submenu li a:hover {
    text-decoration: underline!important;
}
/* mods */
.mod_custom-slideshow ul.slider {
    position: absolute;
    top: -150px;
    left: 240px;
    height: 463px;
    width: 1020px;
    overflow: hidden;
}
.mod_custom-slideshow ul.slider li {
    position: relative;
    height: 213px;
    width: 320px;
    padding: 250px 0 0 700px;
    color: #fff;
    font-size: 26px;
    line-height: 1.1;
    font-family: Verdana, 'Geneva CE', lucida, sans-serif;
}
.mod_custom-slideshow ul.slider li img {
    position: absolute;
    bottom: 0;
    left: 90px;
}
.mod_custom-slideshow ul.slider li h2 {
    font-size: 56px;
    line-height: 1;
    font-weight: normal;
    height: 56px;
    overflow: hidden;
    margin: 0 0 5px;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_custom-slideshow ul.slider li .button {
    padding: 20px 0 0 0;
    line-height: 24px;
}
.mod_custom-slideshow .nav {
    position: absolute;
    bottom: -17px;
    right: 30%;
    left: 30%;
    text-align: center;
    padding: 0 0 0 8px;
    z-index: 100;
}
.mod_custom-slideshow .nav a {
    display: inline-block;
    width: 44px;
    height: 43px;
    line-height: 43px;
    margin: 0 0 0 -8px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
    background: url(../_img/btn/09.png) no-repeat;
}
.mod_custom-slideshow .nav a.activeSlide {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-position: bottom!important;
}
.mod_custom-slideshow .more {
    position: absolute;
    bottom: -17px;
    right: 3px;
    z-index: 100;
}
.mod_custom-slideshow .more a {
    display: block;
    width: 213px;
    height: 45px;
    line-height: 45px;
    padding: 0 0 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    background: url(../_img/btn/10.png) no-repeat;
}
.mod_custom-slideshow .more a:hover {
    background-position: bottom;
}
.mod_custom-boxes {
    margin: 55px 0 0;
}
.mod_custom-boxes>ul{
    *zoom:1;
    padding: 0;
    margin: 0 0 0 -60px;
}
.mod_custom-boxes>ul:before,.mod_custom-boxes>ul:after{display:table;content:"";}
.mod_custom-boxes>ul:after{clear:both;}
.mod_custom-boxes>ul>li {
    position: relative;
    float: left;
    margin: 0 0 60px 60px;
    float: left;
    width: 380px;
    background: #fff;
    box-shadow: 0 0 20px #000;
}
.mod_custom-boxes>ul>li>a {
    display: block;
    text-decoration: none;
    min-height: 205px;
    padding: 20px 100px 20px 30px;
    background: #fff;
    color: #060004;
}
.mod_custom-boxes>ul>li .title {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #8f0e08;
    font-size: 34px;
    line-height: 1;
    margin: 0 0 13px;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_custom-boxes>ul>li ul {
    position: relative;
    z-index: 1;
}
.mod_custom-boxes>ul>li ul li{
    position: relative;
    padding: 0 0 0 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 4px;
    text-shadow: 0 0 6px #fff;
}
.mod_custom-boxes>ul>li ul li:before {
    position: absolute;
    left: 0;
    top: 1px;
    content: url(../_img/arr/02.png);
}
.mod_custom-boxes>ul>li img {
    position: absolute;
    bottom: -54px;
    right: -28px;
}
.mod_newsflash {
    padding: 22px 0 17px 0;
}
.mod_newsflash .title {
    font-size: 30px;
    line-height: 1;
    color: #292c2c;
    padding: 0 0 10px 22px;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_newsflash .item {
    clear: both;
    position: relative;
    font-size: 13px;
    line-height: 1.2;
    padding: 4px 20px 30px 80px;
    min-height: 40px;
}
.mod_newsflash .item time {
    position: absolute;
    display: block;
    top: 0;
    left: -11px;
    width: 71px;
    height: 52px;
    line-height: 20px;
    padding: 11px 0 0 0;
    text-align: center;
    font-weight: bold;
    background: url(../_img/bg/06.png) no-repeat;
}
.mod_newsflash .item time span {
    display: block;
    margin: 0 auto;
}
.mod_newsflash .item figure {
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
}
.mod_newsflash .item h3 {
    font-size: 16px;
    padding: 0 0 10px 0;
}
.mod_newsflash .more {
    padding: 0 0 0 80px;
}
.mod_custom-video {
    position: relative;
    margin: 16px 0;
    padding: 0 0 55.5%;
}
.mod_custom-video iframe {
    position: absolute;
    border: 0;
    left: 0;
    top: 0;
    width: 100%!important;
    height: 100%!important;
}
.mod_custom-dalsi-videa{
    position: relative;
    padding: 0 20px 25px;
    margin: 0 -20px 25px;
}
.mod_custom-dalsi-videa:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
}
.mod_custom-dalsi-videa ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 -4px 0 0;
    width: 85%;
}
.mod_custom-dalsi-videa ul li {
    float: left;
    width: 25%;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mod_custom-dalsi-videa ul li img {
    max-width: 100%;
    height: auto!important;
}
.mod_custom-dalsi-videa .more {
    display: inline-block;
    width: 15%;
    vertical-align: top;
}
.mod_custom-dalsi-videa .more a {
    display: block;
    position: relative;
    font-size: 25px;
    line-height: 1;
    padding: 6px 18px 6px 18px;
    font-family: 'VolvoBroadRegular', sans-serif;
    color: #000;
    text-decoration: none;
}
.mod_custom-dalsi-videa .more a:before, .mod_custom-dalsi-videa .more a:after {
    position: absolute;
    content: '';
    left: 100%;
    top: 50%;
    width: 1px;
    height: 25px;
    margin: -2px 0 0 -8px;
    background: #8f0e08;
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.mod_custom-dalsi-videa .more a:after {
    top: auto;
    bottom: 50%;
    margin-top: 2px;
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.mod_custom-magazine {
    float: left;
    width: 55%;
    font-size: 13px;
}
.mod_custom-magazine .title {
    font-family: 'VolvoBroadRegular', sans-serif;
    font-size: 30px;
    line-height: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.mod_custom-magazine ul li {
    position: relative;
    padding: 0 0 0 17px;
    margin: 0 0 5px;
}
.mod_custom-magazine ul li:before {
    position: absolute;
    left: 0;
    top: 2px;
    content: url(../_img/arr/01.png);
}
.mod_xnewsletter {
    padding: 20px 20px 15px 20px;
    margin: 0 0 24px 0;
    background: #d2e0e0;
}
#homepage .mod_xnewsletter {
    float: right;
    width: 230px;
    padding: 28px 0 0 0;
    margin: 0;
    background: none;
    text-align: right;
}
.mod_xnewsletter p {
    line-height: 14px;
    padding: 0 0 8px 0;
}
.mod_xnewsletter .title {
    font-size: 21px;
    line-height: normal;
    color: #292c2c;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_xnewsletter input.text {
    position: relative;
    border: 0;
    margin: 0 0 5px 0;
    width: 210px;
    text-align: left;
    padding: 11px 10px 6px 10px;
    background: url(../_img/bg/10.png) no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mod_custom-akce {
    padding: 0 20px 29px 20px;
    line-height: 14px;
}
#homepage .mod_custom-akce {
    padding: 0 17px 21px 19px;
}
.mod_custom-akce .title {
    font-size: 21px;
    line-height: normal;
    padding: 0 0 13px 0;
    color: #292c2c;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_custom-akce .item {
    padding: 0 0 14px 0;
}
.mod_custom-akce time {
    font-weight: bold;
    color: #8f0e08;
}
.mod_custom-akce a.more {
    padding: 0 12px 0 0;
    background: url(../_img/arr/02.png) no-repeat right;
}
.mod_custom-akce p.more {
    padding: 1px 0 0 0;
}
.mod_custom-akce p.more a {
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    padding: 0 10px 0 0;
    background: url(../_img/arr/04.png) no-repeat right;
}
.mod_custom-kontakt {
    padding: 17px 17px 10px 19px;
    line-height: 14px;
    background: url(../_img/bg/11.png) no-repeat top;
}
.mod_custom-kontakt .title {
    font-size: 30px;
    line-height: normal;
    padding: 0 0 13px 0;
    color: #292c2c;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_custom-kontakt .col {
    display: inline-block;
    vertical-align: bottom;
    width: 200px;
    padding: 0 20px 0 0;
}
.mod_custom-kontakt address {
    font-style: normal;
    padding: 0 0 18px 0;
}
.mod_custom-kontakt address strong {
    color: #8f0e08;
}
.mod_custom-kontakt address a {
    color: #000;
}
.mod_custom-kontakt address a:hover {
    color: #8f0e08;
}
.mod_custom-kontakt .more a {
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    padding: 0 10px 0 0;
    color: #8f0e08;
    text-decoration: none;
    background: url(../_img/arr/04.png) no-repeat right;
}
.mod_custom-kontakt .more a:hover {
    text-decoration: underline;
}
.mod_banners {
    position: relative;
    z-index: 1;
    height: 94px;
    margin: 0 -10px;
    background: #c41230;
    background: -moz-linear-gradient(top,  #c41230 0%, #8f0e08 100%);
    background: -webkit-linear-gradient(top,  #c41230 0%,#8f0e08 100%);
    background: linear-gradient(to bottom,  #c41230 0%,#8f0e08 100%);
}
.mod_banners .title {
    position: absolute;
    top: 34px;
    left: 23px;
    font-size: 30px;
    color: #fff;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_banners .jcarousel-item {
    margin: 0 0 0 18px;
    padding: 10px 0 0;
}
.mod_banners li {
    float: left;
    padding: 0 0 5px 0;
}
.mod_banners .jcarousel-clip {
    position: absolute!important;
    top: 10px;
    left: 185px;
    right: 12px;
    height: 75px;
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mod_banners .jcarousel-prev {
    position: absolute;
    top: 23px;
    left: 157px;
    width: 38px;
    height: 44px;
    cursor: pointer;
    background: url(../_img/arr/05.png) no-repeat;
}
.mod_banners .jcarousel-next {
    position: absolute;
    top: 23px;
    right: -12px;
    width: 38px;
    height: 44px;
    cursor: pointer;
    background: url(../_img/arr/06.png) no-repeat;
}
.mod_banners .jcarousel-prev-disabled,
.mod_banners .jcarousel-next-disabled {
    display: none!important;
}
.mod_custom-footer-menu {
    padding: 36px 170px 45px 18px;
}
.mod_custom-footer-menu li {
    display: inline-block;
    padding: 2px 5px 0 14px;
    background: url(../_img/arr/04.png) no-repeat left;
}
.mod_custom-footer-menu li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.mod_custom-footer-menu li a:hover {
    text-decoration: underline;
}
/* footer */

footer#main-footer {
    clear: both;
    display: block;
    background: #111212;
}
#page-footer {
    position: relative;
    margin: 0 auto;
    width: 1240px;
    text-align: left;
    background: url(../_img/bg/12.png) repeat-x 0 94px;
}
#page-footer .xart {
    position: absolute;
    top: 92px;
    right: 18px;
    width: 150px;
    text-align: center;
    font-size: 10px;
}
#page-footer .xart a {
    text-decoration: none;
    color: #aaa;
}
#page-footer .xart img {
    display: block;
    margin: 0 auto;
}
#page-footer .copy {
    padding: 0 36px 30px 17px;
    color: #fff;
    font-size: 11px;
}
#page-footer .copy a {
    color: #fff;
}
/* formatted */

#content {
    padding: 20px 0;
}
#content .product-left {
    float: left;
}
#content .product-left img {
    max-width: 100%;
    height: auto!important;
}
#content .product-right {
    width: 420px;
    float: right;
}
.formatted h1 {
    font-size: 28px;
    color: #777;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.formatted h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
}
.formatted h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
}
.formatted h4 {
    font-size: 16px;
    margin: 0 0 20px 0;
}
.formatted p {
    padding: 0 0 20px 0;
    line-height: 160%;
}
.formatted .more {
    text-align: right;
}
.formatted .more a {
    white-space: nowrap;
    padding: 0 14px 0 0;
    font-weight: bold;
    background: url(../_img/arr/02.png) no-repeat right 2px;
}
.formatted ul {
    padding: 0 0 20px 20px;
    line-height: 150%;
    font-size: 12px;
}
.formatted ul ul {
    padding: 10px 0 0 20px;
}
.formatted ul li {
    padding: 0 0 8px 20px;
    margin: 0 0 0 0;
    background: url(../_img/arr/01.png) no-repeat 0 2px;
}
.formatted ul.highlight {
    position: relative;
    padding: 10px 20px 7px 20px;
    margin: 0 0 20px 0;
    line-height: 150%;
    font-size: 11px;
    background: #edf1ee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#edf1ee), to(#d0d4d1));
    background: -webkit-linear-gradient(#edf1ee, #d0d4d1);
    background: -moz-linear-gradient(#edf1ee, #d0d4d1);
    background: -ms-linear-gradient(#edf1ee, #d0d4d1);
    background: -o-linear-gradient(#edf1ee, #d0d4d1);
    background: linear-gradient(#edf1ee, #d0d4d1);
    -pie-background: linear-gradient(#edf1ee, #d0d4d1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 6px #999;
    -moz-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
}
.formatted ul.highlight ul {
    padding: 10px 0 0 20px;
}
.formatted ul.highlight li {
    padding: 7px 0 10px 0;
    margin: 0;
    border-top: 1px dotted #63696e;
    _border-top: 0;
    background: none;
}
.formatted ul.highlight ul li {
    padding: 0;
    border: 0;
    line-height: 150%;
    font-size: 11px;
}
.formatted ul.highlight li:first-child {
    border-top: 0;
}
.formatted ul.highlight li a {
    padding: 0 0 0 16px;
    color: #4c5054;
    background: url(../_img/arr/07.png) no-repeat 0 1px;
}
.formatted ul.highlight li a:hover {
    color: #8f0e08;
}
.formatted .mod_breadcrumbs ul {
    padding: 0 0 10px 0;
    width: 455px;
    margin: 0 0 0 -12px;
}
.formatted .mod_breadcrumbs ul li {
    display: inline;
    background: url(../_img/arr/02.png) no-repeat left;
    padding: 0 12px;
    font-size: 11px;
    font-weight: bold;
}
.formatted table.normal {
    margin: 0 0 20px 0;
    background: #f5f5f5;
}
.formatted table.normal th,
.formatted table.normal td {
    padding: 5px 7px;
    border: 1px solid #b4c3c5;
}
.formatted table.normal th {
    font-weight: normal;
    background: #d2e0e0;
}
.formatted table.normal tr.highlight td {
    background: #fff;
}
.formatted table.normal tr:hover td {
    background: #f0f0f0;
}
.formatted form.normal-form {
    margin: 0 0 20px 0;
}
.formatted form.normal-form label {
    padding: 0 10px 0 0;
}
.formatted form.normal-form label.indent {
    display: block;
    padding: 0 0 5px 0;
    font-weight: bold;
    font-size: 11px;
}
.formatted form.normal-form input.input-field-long,
.formatted form.normal-form input.input-field-short,
.formatted form.normal-form textarea,
.formatted form.normal-form select {
    position: relative;
    border: 1px solid #bfc6c9;
    padding: 4px 6px;
    height: 15px;
    margin: 0;
    background: url(../_img/bg/10.png) no-repeat;
    width: 220px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.formatted form.normal-form input.input-field-short {
    width: 160px;
}
.formatted form.normal-form textarea {
    width: auto;
    height: auto;
    padding: 6px;
}
.formatted form.normal-form select {
    width: auto;
    height: auto;
    padding: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.formatted form.normal-form input.input-field-long:hover,
form.normal-form input.input-field-short:hover,
form.normal-form textarea:hover,
form.normal-form input.input-field-long:focus,
form.normal-form input.input-field-short:focus,
form.normal-form textarea:focus,
form.normal-form select:hover,
form.normal-form select:focus {
    background: #fff;
}
.normal-button {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    height: 32px;
    padding: 0 10px;
    color: #000!important;
    text-align: center;
    font-weight: bold;
    overflow: visible;
    font-size: 11px;
    background: #636363 url(../_img/btn/11.png) repeat-x top;
    cursor: pointer;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0 1px 6px #777;
    -moz-box-shadow: 0 1px 6px #777;
    box-shadow: 0 1px 6px #777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.normal-button {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    text-decoration: none;
}
#ie7 input.normal-button,
#ie8 input.normal-button,
#ie7 button.normal-button,
#ie8 button.normal-button {
    padding: 0 10px;
}
.normal-button:hover,
.normal-button:focus {
    background-position: bottom;
}
.formatted .pagehub {
    clear: both;
    text-align: center;
    margin: 0 0 20px 0;
}
.formatted .pagehub a,
.formatted .pagehub span {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    padding: 0;
    border: 0;
    height: 26px;
    line-height: 26px;
    width: 26px;
    color: #000!important;
    text-align: center;
    font-weight: bold;
    overflow: visible;
    font-size: 11px;
    text-decoration: none;
    background: #636363 url(../_img/btn/11.png) repeat-x top;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 1px 2px #777;
    box-shadow: 0 1px 2px #777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.formatted .pagehub span.pagenav {} .formatted .pagehub a:hover,
.formatted .pagehub span.pagenav {
    text-decoration: underline;
    background: #636363 url(../_img/btn/11.png) repeat-x bottom;
}
.formatted .pagehub span.pagenav-ico {
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: default;
}
.colored-grey {
    color: #777;
}
.colored-blue {
    color: #0e476f;
}
.clear-decor,
.description_separator,
.article_separator {
    clear: both;
    padding: 0 0 20px 0;
    height: 6px;
    background: url(../_img/bg/14.png) no-repeat top;
}
.formatted hr {
    margin: 0 0 20px 0;
    padding: 0;
    border: 0;
    height: 0;
    background: none;
    border-top: 1px solid #aaa;
}
.formatted img.img-left {
    float: left;
    margin: 4px 16px 5px 0;
}
.formatted img.img-right {
    float: right;
    margin: 4px 0 5px 16px;
}
a.jcepopup img {
    border: 2px solid #b4c3c5;
}
a.jcepopup:hover img {
    border: 2px solid #aaa;
}
/* produkt detail */

#content .product-left .thumbnail {
    padding: 3px 0 20px 0;
}
#content .product-left .thumbnail img {
    border: 5px solid #d2e0e0;
    max-width: 100%;
    height: auto!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content .product-left .thumbnail a:hover img {
    border: 5px solid #b4c3c5;
}
#content .product-right .online-katalog-button {
    padding: 0 0 4px 0;
}
#content .product-right .online-katalog-button a {
    display: block;
    width: 231px;
    margin: 0 -6px 0 -5px;
    height: 61px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
    background: url(../_img/btn/12.png) no-repeat;
}
#content .product-right .online-katalog-button a:hover {
    background-position: bottom;
}
#content .product-right .online-katalog-button a span {
    display: block;
    padding: 11px 35px 0 67px;
    cursor: pointer;
}
.mod_custom-produkt-kontakt {
    position: relative;
    margin: 0 0 12px 0;
    background: #e8eae9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 6px #999;
    -moz-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
}
.mod_custom-produkt-kontakt p {
    padding: 0;
    line-height: normal;
}
.mod_custom-produkt-kontakt .in {
    position: relative;
    padding: 13px 17px 18px 17px;
    background: #c41230;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c41230), to(#8f0e08));
    background: -webkit-linear-gradient(#c41230, #8f0e08);
    background: -moz-linear-gradient(#c41230, #8f0e08);
    background: -ms-linear-gradient(#c41230, #8f0e08);
    background: -o-linear-gradient(#c41230, #8f0e08);
    background: linear-gradient(#c41230, #8f0e08);
    -pie-background: linear-gradient(#c41230, #8f0e08);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mod_custom-produkt-kontakt .title {
    color: #ccdbdb;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
    padding: 0 0 5px 0;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_custom-produkt-kontakt .phone {
    color: #fff;
    font-size: 29px;
    line-height: 29px;
    padding: 0 0 6px 0;
    font-family: 'VolvoBroadRegular', sans-serif;
}
.mod_custom-produkt-kontakt .email a {
    color: #fff;
}
.mod_custom-produkt-kontakt .more-info {
    padding: 16px 19px 13px 19px;
    font-size: 11px;
    line-height: 13px;
}
.mod_custom-produkt-kontakt .more-info a {
    padding: 0 0 0 17px;
    color: #4c5054;
    background: url(../_img/arr/07.png) no-repeat;
}
.formatted ul.product-tabs {
    padding: 0;
    margin: 0 0 20px 0;
    height: 39px;
    background: url(../_img/bg/15.png) repeat-x bottom;
}
.formatted ul.product-tabs li {
    float: left;
    padding: 0 0 0 25px;
    margin: 0;
    background: url(../_img/btn/13.png) no-repeat;
    cursor: pointer;
}
.formatted ul.product-tabs li a {
    direction: block;
    float: left;
    height: 33px;
    line-height: 33px;
    padding: 6px 25px 0 0;
    text-decoration: none;
    font-weight: bold;
    color: #777;
    background: url(../_img/btn/13.png) no-repeat right top;
    cursor: pointer;
}
.formatted ul.product-tabs li.act {
    background: url(../_img/btn/14.png) no-repeat;
}
.formatted ul.product-tabs li.act a {
    color: #8f0e08;
    background: url(../_img/btn/14.png) no-repeat right top;
}
/* buttons */

.right-button {
    position: relative;
    display: inline-block;
    position: relative;
    height: 40px;
    margin: 0;
    border: 0;
    padding: 0 28px 0 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    background: url(../_img/btn/07.png) no-repeat right top;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    cursor: pointer;
    text-align: center;
}
a.right-button {
    line-height: 36px;
}
input.right-button {
    padding-bottom: 3px;
}
.right-button:hover {
    background-position: right center;
}
.right-button:active {
    background-position: right bottom;
}
.right-button-wrap {
    position: relative;
    display: inline-block;
    padding: 0 0 0 2px;
}
.right-button-before {
    position: absolute;
    top: 0;
    left: -5px;
    display: block;
    height: 40px;
    width: 7px;
    float: left;
    background: url(../_img/btn/08.png) no-repeat;
}
.right-button-before.hover {
    background-position: center;
}
.right-button-before.active {
    background-position: bottom;
}



@media (min-width: 992px) and (max-width: 1339px) {
    #page {
        width: 960px;
    }
    #col-main {
        width: 640px;
    }
    #col-left {
        width: 240px;
    }
    #homepage #col-main {
        width: 480px;
    }
    #homepage #col-left {
        width: 480px;
    }
    .mod_custom-slideshow ul.slider {
        width: 720px;
    }
    .mod_custom-slideshow ul.slider li {
        padding-left: 400px;
        padding-top: 230px;
    }
    .mod_custom-slideshow ul.slider li img {
        max-width: 340px;
        left: 20px;
    }
    .mod_custom-boxes>ul {
        margin-left: -30px;
    }
    .mod_custom-boxes>ul>li {
        width: 300px;
        margin-left: 30px;
    }
    .mod_custom-boxes>ul>li>a {
        min-height: 250px;
    }
    .mod_custom-boxes>ul>li img {
        max-width: 180px;
        right: -18px;
        bottom: -40px;
    }
    .mod_custom-dalsi-videa ul {
        width: auto;
        display: block;
        margin: 0 -10px 0 0;
    }
    .mod_custom-dalsi-videa .more {
        clear: both;
        display: block;
        text-align: right;
        width: auto;
        padding: 15px 0 0;
    }
    .mod_custom-magazine {
        float: left;
        width: 240px;
        font-size: 13px;
    }
    .mod_xnewsletter input.text {
        width: 170px;
    }
    #homepage .mod_xnewsletter {
        width: 180px;
    }
    #homepage .mod_xnewsletter input.text {
        width: 160px;
    }
    #page-footer {
        width: 940px;
    }
    #content .product-left {
        width: 380px;
    }
    #content .product-right {
        width: 220px;
    }
}

@media (max-width: 991px) {
    .mod_mainmenu menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        padding: 30px;
        background: #000;
        background: rgba(0,0,0,0.9);
    }
    .mod_mainmenu-on .mod_mainmenu menu {
        display: block;
    }
    .mod_mainmenu li {
        margin: 10px 0;
        float: none;
    }
    .mod_mainmenu a {
        float: none;
    }
    .mod_mainmenu .toggle {
        display: block;
    }
    .mod_custom-boxes>ul>li {
        width: auto;
        float: none;
        margin-bottom: 50px;
    }
    .mod_custom-boxes>ul>li>a {
        min-height: auto;
    }
    .mod_custom-boxes>ul>li ul li {
        display: inline-block;
    }
    .mod_custom-boxes>ul>li img {
        max-width: 180px;
        right: -18px;
        bottom: -40px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #page {
        width: 740px;
    }
    #col-main {
        width: auto;
        float: none;
        padding: 40px 30px
    }
    #col-left {
        width: auto;
        float: none;
        padding: 0 10px 40px;
    }
    #homepage #col-main {
        width: auto;
    }
    #homepage #col-left {
        width: 100%;
    }
    #intro .mod_custom-submenu {
        width: 200px;
    }
    #intro .mod_custom-submenu .title {
        font-size: 28px;
    }
    .mod_custom-slideshow ul.slider {
        width: 500px;
    }
    .mod_custom-slideshow ul.slider li {
        width: 240px;
        padding-left: 270px;
        padding-top: 240px;
        font-size: 18px;
    }
    .mod_custom-slideshow ul.slider li img {
        max-width: 240px;
        left: 10px;
        bottom: 30px;
    }
    .mod_custom-slideshow ul.slider li h2 {
        font-size: 32px;
        margin: 0;
    }
    #homepage:before {
        display: none;
    }
    .mod_custom-kontakt {
        margin: 0 130px;
    }
    .mod_custom-kontakt .title {
        text-align: center;
    }
    #col-left .mod_custom-submenu {
        padding: 30px;
    }
    #content .product-left {
        width: 320px;
    }
    #content .product-right {
        width: 320px;
    }
    #page-footer {
        width: 720px;
    }
    .formatted .mod_breadcrumbs ul {
        width: auto;
    }
}


@media (max-width: 767px) {
    body {
        background-image: none;
    }
    #page {
        width: auto;
        padding: 0 10px;
    }
    #col-main {
        width: 100%;
        padding:0;
    }
    #col-left {
        width: 100%;
        padding: 0;
    }
    #container {
        margin: 0 -10px;
        padding: 20px;
    }
    #homepage #col-main {
        width: 100%;
    }
    #homepage #col-left {
        width: 100%;
    }
    header#main-header {
        height: auto;
    }
    header#main-header .logo {
        width: auto;
        float: none;
    }
    header#main-header .logo a {
        padding: 170px 0 0;
        text-align: center;
        background-position: center 40px;
    }
    .mod_mainmenu {
        position: relative;
        z-index: 99999;
        top: 0;
        margin: 0 0 30px;
    }
    .mod_mainmenu .toggle {
        margin: 0 auto;
    }
    .mod_mainmenu menu {
        position: static;
        width: auto;
        padding: 20px;
    }
    .mod_search input.text {
        position: static;
        margin: 0 auto;
        display: block;
    }
    .mod_search input.button {
        position: relative;
        display: block;
        top: 0;
        margin: 0 auto;
        top: -31px;
        left: 76px;
    }
    header#main-header .online-katalog-button {
        position: static;
    }
    header#main-header .online-katalog-button a {
        margin: 0 auto;
    }
    #intro .mod_custom-submenu {
        float: none;
        width: auto;
    }
    .mod_custom-slideshow ul.slider {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
    }
    .mod_custom-slideshow ul.slider li {
        position: relative;
        height: auto;
        width: auto;
        padding: 0;
        color: #fff;
        font-size: 18px;
        padding: 30px 0 0;
        text-align: center;
    }
    .mod_custom-slideshow ul.slider li img {
        position: static;
        max-width: 240px;
        height: auto!important;
        margin: 0 auto;
        display: block;
    }
    .mod_custom-slideshow .nav {
        position: static;
    }
    #homepage:before {
        display: none;
    }
    .mod_custom-boxes>ul>li img {
        display: none;
    }
    .mod_custom-dalsi-videa ul {
        width: auto;
        margin: 0 -10px 0 0;
        display: block;
    }
    .mod_custom-dalsi-videa ul li {
        width: 50%;
    }
    .mod_custom-dalsi-videa .more {
        clear: both;
        display: block;
        width: auto;
        padding: 20px 0;
        text-align: right;
    }
    .mod_custom-magazine {
        float: none;
        width: auto;
    }
    #homepage .mod_xnewsletter {
        float: none;
        width: auto;
    }
    #page-footer {
        width: auto;
    }
    .mod_banners {
        margin: 0;
        height: 180px;
    }
    .mod_banners .title {
        position: static;
        text-align: center;
        padding: 20px 0;
    }
    .mod_banners .jcarousel-clip {
        position: relative!important;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 30px;
        height: 75px;
        overflow: hidden;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .mod_banners .jcarousel-prev {
        left: 0;
        top: auto;
        bottom: 50px;
    }
    .mod_banners .jcarousel-next {
        right: 0;
        top: auto;
        bottom: 50px;
    }
    .mod_custom-footer-menu {
        padding: 20px;
        text-align: center;
    }
    #page-footer .copy {
        padding: 0;
        text-align: center;
        margin: 20px 0;
    }
    #page-footer .xart {
        position: static;
        margin: auto;
    }
    .formatted .mod_breadcrumbs ul {
        width: auto;
    }
    #content .product-left {
        float: none;
    }
    #content .product-right {
        width: auto;
        float: none;
    }
}